body {
    background-image: url(/bgimage.jpg);
    height: 100vh;
}
.tagline {
    text-align: center;
    vertical-align: bottom;
}

.inherited-margin {
    border: 2px solid black;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 20px;

}
.anak-inherit {
    border: 1px solid purple;
    margin-left: 100px;
}

.inherit {
    margin-left: inherit;
}