.judul {
    text-align: center;   
}

div {
    width: 400px;
    height: 400px;
    background-color: aquamarine;

    transition: 0.5s;
    font-size: 50px;
}

div:hover {
    width: 500px;
    font-size: 70px;
    background-color: brown;
}
